[Unit]
Description=DataFlow LEDs
Requires=fadecandy.service
Conflicts=matrix-leds.service

[Service]
Type=exec
WorkingDirectory=/opt/matrix-leds
ExecStart=/usr/bin/env python /opt/matrix-leds/dataflow-leds.py
ExecStop=/usr/bin/env python /opt/matrix-leds/dataflow-leds.py stop
Restart=always

[Install]
WantedBy=multi-user.target