[Unit]
Description=Matrix LEDs
Requires=fadecandy.service
Conflicts=dataflow-leds.service

[Service]
Type=exec
WorkingDirectory=/opt/matrix-leds
ExecStart=/usr/bin/env python /opt/matrix-leds/matrix-leds.py
ExecStop=/usr/bin/env python /opt/matrix-leds/matrix-leds.py stop
Restart=always

[Install]
WantedBy=multi-user.target